.navbar{
    background-color:grey;
    display: flex;
    margin-bottom:50px;
    padding:10px;
    animation:color 8s;
    
}
body{
    background-color:grey;
    background-image: url("2.avif");
    background-size:cover;
    backdrop-filter: blur(3px);
}
.list1{
    background-color:burlywood;
    background-color:bisque;
}
.navbar ul{
    font-size: 10px;
    background-color:darksalmon;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    list-style-type:none;
}
.navbar li{
    background-color:burlywood;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:10px;

}
.navbar li:hover{
    transform:translateY(5px);
    transition: .3s ease;
    color:chocolate;
}
img:hover{
    transform:scale(90%);
    transition: 2s ease;
}
form{
    background-color:dimgray;
    border:solid 2px rgb(255, 127, 133)
    width: 500px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    margin-top:10px;
    width:100px;
    height:35px;
    font-size:25px;
    background-color:black;
    border-radius: 20px;
    border: solid blueviolet;
    color:darkred;
}
.home{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.aboutme{
    height:100hv;
}

details{
    font-size: 10px;
    background-color:burlywood;
    cursor: pointer;
    margin: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
summary{
    font-size: 20;
}

@keyframes color{
    0%{
       background-color:darkorange;
       transform-translateY:(100px);
    }100%{
        background-color:darkgoldenrod;

    }
}
h3{
     animation:color 5s;
}
h2{
    animation:color 4s;
}
h5{
    animation:color 6s;
}
@keyframes bgcolor